@import "tailwindcss";


/* ANIMAÇÃO DA TELA DE IMPACTO */
/* ===== SCROLL INFINITO DAS LOGOS ===== */

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}